@page
@using Microsoft.Extensions.Localization
@model ForensicsUpload
@inject IStringLocalizer<ForensicsUpload> Localizer
@{
    ViewData["Title"] = Localizer["ForensicsUpload"];
}

<div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">@Localizer["ForensicsUpload"]</h5>
        </div>
        <div class="modal-body">
            <div class="row mt-2">
                <div class="col-12">
                    <h5>@Localizer["Select Hosting Environment"]:</h5>
                </div>
                <div class="col-12">
                    <div class="card-deck">
                        @{
                            var hostingProviders = new List<dynamic>
                            {
                                new { Name = "aws", Logo = "aws-logo.png" },
                                new { Name = "azure", Logo = "azure-logo.png" },
                                new { Name = "vmware", Logo = "vmware-logo.png" }
                            };
                        }

                        @foreach (var provider in hostingProviders)
                        {
                            <div class="card clickable-card rounded" onclick="selectHostingEnvironment('@provider.Name')">
                                <div class="card-body">
                                    <img src="~/images/@provider.Logo" alt="@provider.Name" style="max-width:10%" class="card-img-top"/>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
            <hr/>

            <!-- Form for uploading files -->
            <form id="uploadForm" asp-action="Upload" asp-controller="ForensicsUpload" method="post" enctype="multipart/form-data">
                <!-- Antiforgery token -->
                <input type="hidden" name="__RequestVerificationToken" value="@Html.AntiForgeryToken()"/>
                <input type="hidden" id="selectedHostingEnvironment" name="selectedHostingEnvironment"/>

                @if (Model.IsResponse)
                {
                    <div class="alert @(Model.IsSuccess ? "alert-success" : "alert-danger")">
                        @Model.Message
                    </div>
                }
                <div class="row mt-2">
                    <div class="col-12">
                        <label class="col-form-label">@Localizer["File"]</label>
                        <input type="file" name="forensicImage" class="form-control"/>
                        <span asp-validation-for="ForensicImage" class="text-danger"></span>
                    </div>
                </div>

                <div class="row mt-2">
                    <div class="col-12">
                        <!-- Upload button -->
                        <button type="submit" class="btn btn-success">@Localizer["Upload File"]</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@@section Scripts {
<script>
        function selectHostingEnvironment(environment) {
            document.getElementById("selectedHostingEnvironment").value = environment;
            document.getElementById("uploadForm").submit();
        }
    </script>
}