@page
@model AutoRecon.WebUI.Pages.ForensicsScanOverviewModel
@using AutoRecon.Domain.Entities.Recon
@* @using Microsoft.AspNetCore.SignalR.Client *@
@inject Microsoft.Extensions.Localization.IStringLocalizer<ForensicsScanOverviewModel> Localizer

<h1>@Localizer["Scan Overview"]</h1>

<div>
    <h2>@Localizer["Scan Analytics"]</h2>
    <!-- Display analytics here -->
</div>

<div>
    <h2>@Localizer["List of Targets"]</h2>
    <table class="table">
        <thead>
            <tr>
                <th>@Localizer["Target Name"]</th>
                <th>@Localizer["Actions"]</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var target in Model.Targets)
            {
                foreach (var addr in target.Values){
                <tr>
                    <td>@addr</td>
                    <td><button class="btn btn-primary" onclick="openLiveLog('xy')">@Localizer["View Live Log"]</button></td>
                </tr>
                }
            }
        </tbody>
    </table>
</div>

<div id="console"></div>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.12/signalr.min.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/consoleOutputHub")
            .build();

        connection.on("ReceiveConsoleOutput", function (output) {
            // Append the received output to the console
            document.getElementById("console").innerText += output + "\n";
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

        function openLiveLog(targetId) {
            // Navigate to the live log page for the selected target
            window.location.href = "/ForensicsLiveLog?targetId=" + targetId;
        }
    </script>
}
